# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# NetBeans / JavaFX / Java
/build/
/dist/
/out/
/target/
nbproject/private/
*.log

# IDE
.vscode/
.idea/
*.iml

# JavaFX SDK cục bộ (đừng commit)
lib/openjfx-*/
